<footer>
      <p class="terms">
        <a href="#">Mentions légales</a>
        <a href="#">Contact Us</a>
      </p>
      <p>
        <script>document.write(new Date().getFullYear())</script> &#169 Capsult - Antonin Paris
      </p>
</footer>
