{% extends "base.html.twig" %}

{% block title %}Page d'accueil du site Capsult
{% endblock %}

{% block body %}
{{ include('partials/_nav.html.twig') }}

  <h1>Bienvenue sur Capsult</h1>
		{{ include('partials/_footer.html.twig') }}

{% endblock %}
