{% extends 'base.html.twig' %}

{% block title %}Edit Bloc{% endblock %}

{% block body %}
    <h1>Edit Bloc</h1>

    {{ include('bloc/_form.html.twig') }}

    <a href="{{ path('capsule_index', {'slug_user':bloc.capsule.user.slug, 'slug_capsule':bloc.capsule.slug}) }}">back to list</a>

    {{ include('bloc/_delete_form.html.twig') }}
{% endblock %}
