{% if app.user %}
  <div class="like-wrapper">
    <ul class="listOfLikes pd-10 br-r5">
    {% for capsuleLiked  in app.user.capsulesLiked %}
      <li>
        <a href="{{path('capsule_index', {'slug_user':capsuleLiked.user.slug, 'slug_capsule':capsuleLiked.slug})}}">{{capsuleLiked.title}}</a>
      </li>
    {% endfor %}
    </ul>
  <button class="favorite l-btn br-black control-color" data-action="likes">favoris</button>
    </div>
{% endif %}