{% if app.user %}
	<a href="{{path('capsule_like', {'id':capsule.id})}}" data-action="like">

		<svg class="{{ app.user in capsule.likes ? '' : 'hidden'}} filled" width="36" height="30" viewbox="0 0 448 361" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M444.109 109.927L444.098 110.058V110.189C444.098 164.541 417.584 226.383 377.217 274.686C336.826 323.018 283.09 357.189 229.098 357.189C175.109 357.189 115.241 320.24 70.5127 268.268C25.8032 216.317 -3.03131 150.216 4.07454 92.8793C7.62883 64.1999 18.2681 44.2254 33.1142 31.3891C47.9762 18.5392 67.3683 12.5713 88.9186 12.5103C132.13 12.3881 183.402 36.0573 221.477 74.1316L223.643 76.298L225.763 74.0866C283.629 13.7378 340.967 -4.46747 382.069 5.63345C422.862 15.6583 449.013 53.9422 444.109 109.927Z" fill="#C64B47" stroke="black" stroke-width="6"/>
		</svg>

		<svg class="{{ app.user in capsule.likes ? 'hidden' : '' }} unfilled" width="36" height="30" viewBox="0 0 448 361" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M444.109 109.927L444.098 110.058V110.189C444.098 164.541 417.584 226.383 377.217 274.686C336.826 323.018 283.09 357.189 229.098 357.189C175.109 357.189 115.241 320.24 70.5127 268.268C25.8032 216.317 -3.03131 150.216 4.07454 92.8793C7.62883 64.1999 18.2681 44.2254 33.1142 31.3891C47.9762 18.5392 67.3683 12.5713 88.9186 12.5103C132.13 12.3881 183.402 36.0573 221.477 74.1316L223.643 76.298L225.763 74.0866C283.629 13.7378 340.967 -4.46747 382.069 5.63345C422.862 15.6583 449.013 53.9422 444.109 109.927Z" stroke="black" stroke-width="6"/>
		</svg>

	</a>
{% endif %}
