{% extends 'base.html.twig' %}

{% block title %}New Capsule{% endblock %}

{% block body %}
    {# {% if condition %} #}
      <a href="{{path('profile_index', {'slug':user.slug})}}"><- Mes capsules</a>
    {# {% endif %} #}
    <hr>

    {{ include('capsule/_form.html.twig') }}

    {# <a href="{{ path('') }}">back to list</a> #}
{% endblock %}
