{% extends 'base.html.twig' %}

{% block title %}New Capsule{% endblock %}

{% block body %}
    {% if capsule %}
      <a href="{{path('capsule_index', {'slug_user':user.slug, 'slug_capsule':capsule.slug})}}"><- Mes capsules</a>
    {% else %}
      <a href="{{path('profile_index', {'slug':user.slug})}}"><- Mes capsules</a>
    {% endif %}
    <hr>

    {{ include('capsule/_form.html.twig') }}

    {# <a href="{{ path('') }}">back to list</a> #}
{% endblock %}
