{% extends 'base.html.twig' %}

{% block title %}Edit Bloc{% endblock %}

{% block body %}
    <h1>Edit Capsule</h1>

    {{ include('capsule/_form.html.twig') }}

    {# <a href="{{ path('capsule_index', {'slug_user':bloc.capsule.user.slug, 'slug_capsule':bloc.capsule.slug}) }}">back to list</a> #}

{% endblock %}
