{% extends 'base.html.twig' %}

{% block title %}Edit Bloc{% endblock %}

{% block body %}
    <a href="{{ path('capsule_index', {'slug_user':capsule.user.slug, 'slug_capsule':capsule.slug}) }}">back to capsule</a>
    <h1>Edit Capsule</h1>
    {{ include('capsule/_form.html.twig') }}
{% endblock %}
