@import url(pages/bloc_details.css);
@import url(pages/capsule_blocks.css);

:root {
  --bloc-color: #d4d4d4;
  --dark-color: hsl(0, 0%, 13%);
  --add-color: hsl(105, 72%, 77%);
  --btn-color: #e1e1e1;
}

* {
  box-sizing: border-box;
}

/*  */
/* GENERIC PROPERTIES */
/*  */

.fss {
  font-size: small;
}

.brsl {
  border: 1px solid var(--bloc-color);
}

.brsd {
  border: 1px solid var(--dark-color);
  border-radius: 5px;
  width: fit-content;
}

.m-a {
  margin: auto;
}

.hidden {
  display: none;
}

.afs {
  align-self: flex-start;
}

/*  */
/* BUTTON */
/*  */
.add-btn {
  background-color: var(--add-color);
}

