@import url(pages/bloc_details.css);
@import url(pages/capsule_blocks.css);
@import url(pages/profile.css);

:root {
  --bloc-color: #d4d4d4;
  --dark-color: hsl(0, 0%, 13%);
  --add-color: hsl(105, 72%, 77%);
  --btn-color: #e1e1e1;
  --danger-color: #C9403C;
}

* {
  box-sizing: border-box;
}

/*  */
/* GENERIC PROPERTIES */
/*  */

.font-s {
  font-size: small;
}

.br {
  border: 1px solid var(--bloc-color);
}

/* FLEX */
.flex-r{
  display: flex;
  flex-flow: row wrap;
}

.flex-c{
  display: flex;
  flex-direction: column;
}

.flex-jc{
  justify-content: center;
}


/* MARGIN PADDING */
.gap-10{
  gap: 10px;
}

.pd-5{
  padding: 5px;
}

.mg-5{
  margin: 5px;
}

.br-r5 {
  border: 1px solid var(--dark-color);
  border-radius: 5px;
  width: fit-content;
}

.m-a {
  margin: auto;
}

.hidden {
  display: none;
}

.afs {
  align-self: flex-start;
}

/*  */
/* BUTTON */
/*  */
.add-btn {
  background-color: var(--add-color);
}

.d-btn{
  background-color: var(--danger-color);
}

