/* EDIT AND SHOW BLOCS */

/* BLOC DETAIL WRAPPER */
.bloc-detail-view{
  background-color: var(--gray-1);
  border-radius: 5px;
  height: 100%;
  margin: 10px 3px;
  padding: 10px 3px;
}

/* LIST OF CONNECTION */
.connection-list-wrapper{
  width: 90%;
}
.connection-list{
  display: flex;
  flex-direction: column;
}

/* FORM with textarea edit */
.form-inner-access{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 10px;
}

.form-inner-access > div:first-child{
  flex-wrap: wrap;
  display: flex;
  flex: 1 1 23em;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.bloc-edit-textarea{
  min-height: 200px;
  height: 100%;
  margin: 0 10px;
}

.margin{
  flex: 1 1 10em;
}


/* FORM EDIT without textarea edit */
.split-pane{
  display: flex;
  flex-flow: row wrap;
}

/* LEFT PANE */
.left-pane{
  flex-wrap: wrap;
  display: flex;
  width: 100%;
  height: fit-content;
  flex: 1 1 23em;
  -webkit-box-pack: center;
  justify-content: center;
}

.left-pane p{
  width: 100%;
  height: 100%;
}

.link-bloc{
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* RIGHT PANE */
.right-pane{
  flex: 1 1 10em;
  margin-left: 3vw;
}

#bloc-autor{
  background-color: var(--user-avatar);
  margin-bottom: 10px;
}
