main {
  position: relative;
}

/*  */
/* TOP BAR */
/*  */
.top-bar {
  margin: auto;
}

/*  */
/* EXPLORE */
/*  */
.explore-control{
  position: relative;
}

.explore-wrapper {
  z-index: 99;
  position: absolute;
  top: calc(100% - 8px);
  width: 300px;
  border: 1px solid var(--primary-border);
}

section.explore-wrapper > p{
  margin: 10px 0;
}

a.explorable{
  background-color: var(--light-color);
  gap: 30px;
}

.explorable-status{
  width: 80%;
}

.listExplore{
  background-color: var(--light-color);
  }

.listExplore > li:hover,
a.explorable:hover{
  background-color: var(--gray-1);
  box-shadow: var(--hover-shadow);
  border-radius: 5px;
}

a.connection-container:hover{
  filter: blur(5px);
}

/*  */
/* USER */
/*  */
.user {
  padding: 4px;
  background-color: var(--user-avatar);
  color: dark;
  position: relative;
  order: -1;
}

/*  */
/* LIKE */
/*  */
.like-wrapper {
  position: fixed;
  bottom: 0px;
  left: 0px;
  margin: 0 0 20px 20px;
}

.listOfLikes {
  display: none;
  z-index: 99;
  border: 1px solid var(--primary-border);
  background-color: var(--gray-2);
  margin: 0;
  position: absolute;
  width: 200px;
  bottom: 0;
  bottom: calc(100% - 8px);;
}

/*  */
/* STATUS */
/*  */
.status{
  display: none;
}

/*  */
/* DETAILS */
/*  */
svg.rotate{
  transform: rotate(180deg);
}

/*  */
/* MIDDLE DETAILS */
/*  */
.btn-details{
  display: none;
  margin: 20px auto;
}

.description {
  max-width: 600px;
}

/*  */
/* NAV BTN */
/*  */
.nav-btn{
  margin: 20px 10px;
}

/*  */
/* BLOC */
/*  */
.box-constraint {
  margin: 0px auto;
}

.bloc-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(335px, max-content));
  justify-content: center;
}

.bloc-item {
  position: relative;
  margin: 0px 10px 35px;
}

.bloc-connection-wrapper {
  background-color: var(--bloc-color);
}

a.connection-container {
  position: relative;
  display: block;
  text-decoration: none;
  user-select: none;
  width: 315px;
  height: 100%;
  border-bottom: 1px solid var(--gray-2);
}

a.connection{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 5px;
}

a.connection:hover{
  background-color: var(--gray-1);
  border-radius: 0 0 5px 5px;
}

a.connection img{
  width: 15px;
}

/* BLOC TYPE  */
/* BLOC IMAGE */
.bloc-img {
  width: 100%;
  height: 315px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.bloc-img img {
  border-radius: 5px;
}

/* BLOC TEXTE */
.bloc-txt {
  padding-top: 0.65em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  width: 100%;
  height: 315px;
  overflow: hidden;
  text-align: left;
  border-radius: 5px;
}

/* BLOC LINK */

.link-wrapper {
  border-radius: 5px;
  height: 315px;
  display: flex;
  flex-direction: column;
}

.bloc-link {
  width: 100%;
  height: 100%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  flex-direction: column;
}

.bloc-link img {
  max-width: 315px;
  max-height: 275.88px;
  padding: 4px;
}

/* BLOC LINK ARROW*/
.bloc-url {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

a.url-wrap {
  padding: 10px 10px 0 0;
}

button.inline-btn {
  position: relative;
  height: 29px;
  vertical-align: top;
  width: 36px;
  background-color: var(--gray-1);
}

.arrow-icon {
  position: absolute;
  left: 8px;
  top: 5px;
  width: 20px;
}

/* BLOC AJOUT */
.addBlock {
  width: 315px;
  height: 315px;
  border-radius: 5px;
  padding: 1em 1em 0 1em;
  background-color: var(--bloc-color);
}

#ab-form {
  position: relative;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
}

#ab-form .ab-textarea {
  height: 100px;
}

/*  */
/* MEDIA QUERIES */
/*  */

@media (min-width: 450px){
  a.add-btn{
    order: inherit;
  }
  
  div.user{
    order: inherit;
  }
}

@media (min-width: 600px){
  div.explore-control{
    display: flex;
  }
}

@media (min-width: 800px){
  div.controls-wrapper{
    margin: 15px 10px 10px 10px;
  }
}

@media (min-width: 1700px) {
  .top-bar {
    max-width: 1650px;
  }
}

@media (min-width: 1800px) {
  body {
    max-width: 1760px;
  }
}
