{% extends 'base.html.twig' %}

{% block title %}Hello ConnectionController!
{% endblock %}

{% block body %}
<p>Connecter à</p>
	<div>
		{% for capsule in capsules %}
			<a href="{{path('app_connection', {'slugUser': user.slug, 'idCapsule': capsule.id, 'idBloc':bloc.id})}}">{{capsule.title}}</a><br>
		{% endfor %}
	</div>

{% endblock %}
