{% extends 'base.html.twig' %}

{% block title %}Connecter une capsule
{% endblock %}

{% block body %}
<a href="{{path('capsule_index', {'slug_capsule':capsule.slug, 'slug_user':user.slug})}}">back to {{capsule.slug}}</a>
<p>Connecter à</p>
	<div>
		{% for capsule in capsules %}
			<a href="{{path('app_connection', {'slugUser': user.slug, 'idCapsule': capsule.id, 'idBloc':bloc.id})}}">{{capsule.title}}</a><br>
		{% endfor %}
	</div>

{% endblock %}
